<div class="container-fluid h-100 tblw-no-overflow">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-brand">
      <a href="#">
        <img src="assets/wizard.png" width="50" height="50" class="d-inline-block" alt="">
      </a>
      <span class="ml-3">Task Builder Legacy Wizard</span> 
    </div>
    <div class="navbar-text h4" *ngIf="!workspace.isEmpty()" >
        Workspace: {{workspace.name()}}
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#/select-workspace">{{workspace.isEmpty() ? "Open" : "Change"}}</a>
        <a class="nav-item nav-link" style="cursor:pointer" (click)="about()">About</a>
    </div>
  </nav>
  <tblw-messages></tblw-messages>
  <div class="tblw-main-frame tblw-fullpage">
      <router-outlet></router-outlet>
  </div>
  
</div>