ul {
    list-style-type: none;
    padding-inline-start: 5px;
}

li {
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

li:hover {
    color: #0056b3;
    text-decoration: underline;
}
