ul {
    list-style-type: none;
    padding-inline-start: 5px;
}

li {
    margin-bottom: 5px;
}

#sidebar {
    border-left:1px solid #eee;
    height:100%;
    position:fixed;
    right:0;
    padding-top: 20px;
}