<div class="tblw-page">
        <h4 class="pt-2">Applications</h4>
        <hr>
    <div class="row">
        <div class="column col-sm-9">
            <div *ngIf="!workspace.isEmpty()">
                <ul>
                    <li *ngFor="let app of applications" role="button" (click)="onOpen(app)">
                        <span class="fa fa-folder-open-o" ></span>
                        {{app}}
                    </li>
                </ul>
            </div>
        </div>
        <tblw-sidebar-menu>
            <tblw-sidebar-menu-item link="#/new-application">Create Application</tblw-sidebar-menu-item>
        </tblw-sidebar-menu>
    </div>
</div>
